*
{
	margin:0;
	padding: 0 ;
}
body{
	font-family: sans-serif;
	font-weight: bold;
}
.navbar-brand {
	text-align: center; }
.navbar-nav li a{
	color: #fff !important;
font-weight: 600;
}