
body {
     background-color :#000000;
  
  background-image: url("cybseclogo.jpeg");
  background-repeat: no-repeat;
  background-position: 40% 100%;

  background-attachment: fixed;
  background-size: 20% 75%;
  

}

h1
{
  color:#df1e1e ;
  text-shadow: 10px 2px #ffd117;;
  margin-top:-20%;
  margin-right:5%;
  font-size:450%;
}

   
footer.blockquote-footer
{
	color: #ffd117;
	float:left;
  font-weight: 600;
  margin-left:3%;
  text-shadow: 3px 2px green;

}
div.p1
{
  
  font-size:90%;
  font-weight: 700;
   text-shadow: 3px 2px green;
    border-color: yellow;
    color: #ffd117;
    text-transform: uppercase;
    border-style: dashed dashed dashed dashed ;
   margin-left:30px;

   width:30%;
  margin: 20px;

}


hr
{
  border-top: 1px dashed blue;

}
h3
{
  margin-left:15px;
  margin-right:15px;
  color :#ffa500;
  text-shadow: 3px 2px blue;
}

table.one
 {  
    float:left;
    margin-left:3%; 
    font-weight: 600;
    font-style:italic;
    color: #3500D3;
    padding:20%;

 }

  #t
  {
      width:55%;
  } 
     img.im
      {
   	margin-left:55%;
    margin-top:-20%;
   	height:40%;
   	width:30%;
   	 opacity: 0.5;
     
   }
   
   h2.men,li.men
   {
      color: #083F39;
      filter: brightness(1.8);
      font-weight: 600;
      text-transform: uppercase;

   }

   h2.mem,li.mem
   {
     color: #df1e1e ;
      text-transform: uppercase;
      font-weight: 600;
   }